[Unit]
Description=GeoIP timezone updater
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tzme
User=root
Group=root

[Install]
WantedBy=multi-user.target
